.vacancy-additional-info-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.vacancy-company-info {
    border: 1px solid #ccc;
    border-radius: 13px;
    padding: 13px;
    width: 32%;
}

.short-vacancy-info {
    border: 1px solid #ccc;
    border-radius: 13px;
    padding: 13px;
    width: 63%;
}

.short-vacancy-info p {
    margin: 0;
}

.salary {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.margin-0 {
    margin: 0;
}

.get-vacancy-page-block {
    margin: 0 10%;
}

.show-vacancy-description-btn {
    display: none;
    color: #0000EE;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #0000EE;
    text-underline-offset: 4px;
}

.show-vacancy-description-btn:hover {
    cursor: pointer;
}

.vacancy-actions-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.vacancy-action-btn {
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
    border: none;
    border-radius: 7px;
    padding: 5px 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.vacancy-action-btn:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.add-to-favorites-action-btn {
    text-decoration: none;
    color: black;
    background-color: rgba(144, 238, 144, 0.7);
    border: none;
    border-radius: 10px;
    padding: 7px 14px;
    transition: background-color 0.2s;
}

.add-to-favorites-action-btn:hover {
    background-color: rgba(144, 238, 144, 1) ;
    cursor: pointer;
}

.remove-from-favorites-action-btn {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 0, 0, 0.3);
    border: none;
    border-radius: 7px;
    padding: 5px 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.remove-from-favorites-action-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 7px;
}

.respond-to-vacancy-link {
    color: white;
    text-decoration: none;
    background-color: deepskyblue;
    border: none;
    border-radius: 10px;
    padding: 7px 28px;
    transition: background-color 0.2s;
}

.respond-to-vacancy-link:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.responded-to-vacancy-btn {
    color: white;
    text-decoration: none;
    background-color: deepskyblue;
    border: none;
    border-radius: 10px;
    padding: 7px 28px;
}

.responded-to-vacancy-btn:hover {
    cursor: pointer;
}

.vacancy-reviews-link {
    text-decoration: none;
    color: black;
}

.vacancy-reviews-link:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 520px) {
    .get-vacancy-page-block {
        margin: 0;
    }
}