@using System.Text.Json
@model Web.MVC.Models.View_models.GetChatsViewModel
<link rel="stylesheet" href="~/css/chat/get-chats-view.css"/>

<div class="chats-page-container">
    <div class="search-block">
        <input type="text" id="chatsSearchingInput" placeholder="Поиск по чатам"/>
        <input type="button" id="chatsSearchingBtn" value="Найти" />
    </div>

    <div id="chats-container"></div>
</div>

<script>
    let currentPage = 1;
    let currentQuery = '';
    const chatsContainer = document.getElementById('chats-container');
    const searchBtn = document.getElementById('chatsSearchingBtn');
    const searchInput = document.getElementById('chatsSearchingInput');
    const employeeId = @Html.Raw(JsonSerializer.Serialize(Model.EmployeeId));
    const employerId = @Html.Raw(JsonSerializer.Serialize(Model.EmployerId));

    window.signalRConnection.on("ReceiveMessage", async function(messageId, chatId, message, sentAt) {
        const chatResponse = await fetch(`/chats/${chatId}/json`);
        const chatJson = await chatResponse.json();

        const messageResponse = await fetch(`/messages/${messageId}/json`);
        const messageJson = await messageResponse.json();

        const interlocutorFullname = messageJson.senderId === chatJson.employeeId ? chatJson.employeeFullName : chatJson.employerFullName;
        const unreadMessages = messageJson.senderId === chatJson.employeeId ? chatJson.employerUnreadMessagesCount : chatJson.employeeUnreadMessagesCount;

        if (searchInput.value === '' || interlocutorFullname.toLowerCase().includes(searchInput.value.toLowerCase())) {
            const chatBlock = document.querySelector(`a[chatId="${chatId}"]`);
            if (chatBlock) {
                chatsContainer.removeChild(chatBlock);
            }

            const chatDiv = document.createElement('div');
            chatDiv.classList.add('chat-block');

            const chatLink = document.createElement('a');
            chatLink.href = `/chats/${chatId}`;
            chatLink.classList.add('get-chat-link');
            chatLink.setAttribute('chatId', chatId);

            const chatP = document.createElement('p');
            chatP.classList.add('interlocutor-fullname');
            chatP.textContent = interlocutorFullname;

            const chatUnreadMessagesCountP = document.createElement('p');
            chatUnreadMessagesCountP.classList.add('unread-messages-count');
            if (unreadMessages > 99) {
                chatUnreadMessagesCountP.textContent = '99+';
            } else {
                chatUnreadMessagesCountP.textContent = unreadMessages.toString();
            }
            chatDiv.appendChild(chatUnreadMessagesCountP);

            chatDiv.appendChild(chatP);
            chatLink.appendChild(chatDiv);

            chatsContainer.insertBefore(chatLink, chatsContainer.firstChild);
        }
    });

    async function loadChats(resetPage = false) {
        let url = '';
        const params = new URLSearchParams();

        if (resetPage) {
            currentPage = 1;
        }

        if (employeeId !== undefined && employeeId !== null) {
            url = `/employee/chats`;
            params.append('employeeId', employeeId);
        } else {
            url = `/employer/chats`;
            params.append('employerId', employerId);
        }

        params.append('pageNumber', currentPage);
        if (currentQuery.trim() !== '') {
            params.append('query', currentQuery.trim());
        }

        const response = await fetch(`${url}?${params.toString()}`);
        const chats = await response.json();
        chats.forEach(chat => {
            const chatDiv = document.createElement('div');
            chatDiv.classList.add('chat-block');

            const chatLink = document.createElement('a');
            chatLink.href = `/chats/${chat.id}`;
            chatLink.classList.add('get-chat-link');
            chatLink.setAttribute('chatId', chat.id);

            const chatP = document.createElement('p');
            chatP.classList.add('interlocutor-fullname');

            if (employeeId === null) {
                chatP.textContent = chat.employeeFullName;

                if (chat.employerUnreadMessagesCount > 0) {
                    const chatUnreadMessagesCountP = document.createElement('p');
                    chatUnreadMessagesCountP.classList.add('unread-messages-count');
                    chatUnreadMessagesCountP.textContent = chat.employerUnreadMessagesCount.toString();
                    chatDiv.appendChild(chatUnreadMessagesCountP);
                }
            } else {
                chatP.textContent = chat.employerFullName;

                if (chat.employeeUnreadMessagesCount > 0) {
                    const chatUnreadMessagesCountP = document.createElement('p');
                    chatUnreadMessagesCountP.classList.add('unread-messages-count');
                    chatUnreadMessagesCountP.textContent = chat.employeeUnreadMessagesCount.toString();
                    chatDiv.appendChild(chatUnreadMessagesCountP);
                }
            }

            chatDiv.appendChild(chatP);
            chatLink.appendChild(chatDiv);

            chatsContainer.appendChild(chatLink);
        });
        
        currentPage++;
    }

    searchBtn.addEventListener('click', () => {
        document.getElementById('chats-container').innerHTML = '';
        currentQuery = searchInput.value;
        loadChats(true);
    });

    searchInput.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
            document.getElementById('chats-container').innerHTML = '';
            currentQuery = searchInput.value;
            loadChats(true);
        }
    });

    window.addEventListener('scroll', () => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            loadChats();
        }
    });

    loadChats();
</script>