.profile-section {
    display: flex;
    justify-content: space-between;
}

.label {
    margin: 0;
    padding: 10px 0 1px 8px;
    color: gray;
    font-size: 14px;
}

.dynamic-status {
    margin: 0;
    padding: 1px 0 9px 8px;
    color: black;
    font-size: 17px;
}

.active-status {
    background-color: deepskyblue;
}

.edit-png {
    align-content: center;
}

.profile {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.profile-NS {
    margin: 0;
    padding: 1px 0 9px 8px;
    color: black;
    font-size: 17px;
}

.arrow {
    align-content: center;
    font-size: 25px;
    color: black;
}

.update-employee-link {
    text-decoration: none;
    width: 45%;
}

.status {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 45%;
}

.update-status-modal {
    display: none;
    position: absolute;
    top: 95%;
    left: 0;
    width: 70%;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    cursor: default;
}