.resume-block {
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

p {
    padding: 0;
    margin: 0;
}

.salary-undefined {
    color: hsl(0, 0%, 80%);
}

.description {
    color: hsl(0, 0%, 70%);
}

.resume-flex-block {
    display: flex;
}

.resume-experience {
    display: flex;
    justify-content: space-between;
}

.resume-experience-working-duration {
    width: 15%;
    margin-right: 3%;
}

.resume-experience-working-info {
    width: 82%;
}

.get-resume-page-block {
    margin: 0 16%;
}

.considering-resume-status {
    padding: 3px 5px;
    background-color: bisque;
    border-radius: 7px;
    color: black;
}

.looking-for-resume-status {
    padding: 3px 5px;
    background-color: lightgreen;
    border-radius: 7px;
    color: black;
}

.not-looking-for-status {
    padding: 4px 7px;
    background-color: lightcoral;
    border-radius: 7px;
    color: black;
}