.resumes-container {
    margin-top: 10px;
}

.resume-element-block {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 13px;
    margin: 5px 0;
}

.resume-element-block p {
    margin: 0;
}

.get-resume-link {
    color: black;
    text-decoration: none;
}

.get-resume-link:hover {
    color: black;
    cursor: pointer;
}

.all-resumes-page-container {
    margin: 0 15%;
}