.chats-page-container {
    margin: 0 25%;
}

.search-block {
    display: flex;
    margin-bottom: 10px;
}

.chat-block {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 13px;
    margin: 5px 0;
    display: flex;
}

.get-chat-link {
    text-decoration: none;
    color: black;
}

.get-chat-link:hover {
    cursor: pointer;
}

.interlocutor-fullname {
    margin: 0;
}

.unread-messages-count {
    margin: 0;
    margin-right: 7px;
    background-color: deepskyblue;
    padding: 0 7px 0 6px;
    border-radius: 20px;
}

@media (max-width: 1200px) {
    .chats-page-container {
        margin: 0 20%;
    }
}

@media (max-width: 992px) {
    .chats-page-container {
        margin: 0 10%;
    }
}

@media (max-width: 768px) {
    .chats-page-container {
        margin: 0 5%;
    }
}

@media (max-width: 600px) {
    .chats-page-container {
        margin: 0;
    }
}

@media (max-width: 520px) {
    .chats-page-container {
        margin: 0;
    }
}